%table
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    %tr
      %th
        会員情報登録
    
    %tr.email
      %td
        =f.label :email, 'メールアドレス'
        .span必須
      %td
        =f.email_field :email, autocomplete: "email"
      
    %tr
      %td
        パスワード
        .span必須
      %td
        = f.password_field :password, autocomplete: "new-password"
      
    %tr
      %td
        パスワード
        .span必須
      %td
        = f.password_field :password_confirmation, autocomplete: "new-password"
        
    %tr
      %td
        ニックネーム
        .span必須
      %td
        = f.text_field :nickname
    %tr
      %td
        本人確認情報
    %tr
      %td
        （姓）
        .span必須
      %td
        = f.text_field :familyname
      %td
        （名）
        .span必須
      %td
        = f.text_field :firstname

    %tr
      %td
        （姓）ふりがな
        .span必須
      %td
        = f.text_field :family_ch
      %td
        （名）ふりがな
        .span必須
      %td
        = f.text_field :family_ch
      %tr
    
    %tr
      %td
        = f.label :birth, '生年月日'
        .span必須
      %td
        = f.text_field :birth

    %tr
      %td
        商品送付先確認情報
      
    %tr
      %td
        （姓）
        .span必須
      %td
        = f.text_field :to_familyname
      %td
        （名）
        .span必須
      %td
        = f.text_field :to_firstname
    
    
    
    %tr
      %td
        （姓）ふりがな
        .span必須
      %td
        = f.text_field :to_family_ch
      %td
        （名）ふりがな
        .span必須
      %td
        = f.text_field :to_first_ch
    
    %tr
      %td
        郵便番号
        .span必須
      %td
        = f.text_field :zip

    %tr
      %td
        都道府県
        .span必須
      %td
        = f.text_field :prefectures
    
    %tr
      %td
        市町村
        .span必須
      %td
        = f.text_field :adress_city
    
    %tr
      %td
        番地
        .span必須
      %td
        = f.text_field :adress_street
    
    %tr
      %td
        マンション名・部屋番号
        .span必須
      %td
        = f.text_field :adress_building
    
    %tr
      %td
        電話番号
        .span必須
      %td
        = f.text_field :phone
  
    
    


-# %h2 Sign up
-# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#   = render "devise/shared/error_messages", resource: resource
-#   .field0
-#     会員情報入力
-#     %br/
-#   .field_box1
-#     =f.label :email, 'メールアドレス'
-#     .field1
-#       必須
-#       = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field_box
-#     .field
-#       パスワード
-#     .field1
-#       必須
-#     - if @minimum
-#       %em
-#         (#{@minimum_password_length} characters minimum)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#   .field_box
-#     .field7
-#       パスワード
-#     .field1
-#       必須
-#     .field9
-#       = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .field_box
-#     .field10
-#       ニックネーム
-#     .field1
-#       必須
-#     .field11
-#       = f.text_field :nickname
-#   .field_box2
-#     ニックネームを入力してください  
-#   .field
-#     = f.label :本人確認情報
-#     %br/
-#   .field_box
-#     .field12
-#       = f.label :（姓）
-#     .field13
-#       = f.text_field :familyname
-#     .field14
-#       = f.label :（名）
-#     .field15
-#       = f.text_field :firstname
-#   .field_box
-#     .field16
-#       = f.label :（ふ姓）
-#     .field17
-#       = f.text_field :family_ch
-#     .field18
-#       = f.label :（ふ名）
-#     .field19
-#       = f.text_field :first_ch
-#   .field_box
-#     .field20
-#       = f.label :birth, '生年月日'
-#       = f.text_field :birth
-#   .field
-#     = f.label :商品送付先確認情報
-#     %br/
-#   .field_box
-#     .field22
-#       = f.label :（姓）
-#     .field23
-#       = f.text_field :to_familyname
-#     .field24
-#       = f.label :（名）
-#     .field25
-#       = f.text_field :to_firstname
-#   .field_box
-#     .field26
-#       = f.label :（ふ姓）
-#     .field27
-#       = f.text_field :to_family_ch
-#     .field28
-#       = f.label :（ふ名）
-#     .field29 
-#       = f.text_field :to_first_ch
-#   .field_box
-#     .field30
-#       = f.label :郵便番号
-#     .field31
-#       = f.text_field :zip
-#   .table
-#     都道府県
-#     -# .tr
-#     -#   .th
-#     -#     .tb
-#     = f.text_field :prefectures
-#   .table
-#     市町村
-#     = f.text_field :adress_city
-#   .table
-#     番地
-#     = f.text_field :adress_street
-#   .table
-#     = f.label :マンション名・部屋番号
-#     = f.text_field :adress_building
-#   .table
-#     = f.label :電話番号
  
-#     = f.text_field :phone
-#   .actions
-#     = f.submit "Sign up"
-#   = render "devise/shared/links"
