%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :アカウント情報
    %br/
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :ニックネーム
    %br/
    = f.text_field :nickname
  　
  .field
    = f.label :本人確認情報
    %br/
  .field
    = f.label :姓（漢字）
    = f.text_field :familyname
    = f.label :名（漢字）
    = f.text_field :firstname
  .field
    = f.label :姓（ふりがな）
    = f.text_field :family_ch
    = f.label :名（ふりがな）
    = f.text_field :first_ch
  .field
    = f.label :生年月日
    = f.text_field :birth
  .field
    = f.label :商品送付先確認情報
    %br/
  .field
    = f.label :姓（漢字）
    = f.text_field :to_familyname
    = f.label :名（漢字）
    = f.text_field :to_firstname
  .field
    = f.label :姓（ふりがな）
    = f.text_field :to_family_ch
    = f.label :名（ふりがな）
    = f.text_field :to_first_ch
  .field
    = f.label :郵便番号
    = f.text_field :zip
    .field
      = f.label :都道府県
      = f.text_field :prefectures
      .field
        = f.label :市町村
        = f.text_field :adress_city
        .field
          = f.label :番地
          = f.text_field :adress_street
          .field
            = f.label :マンション名・部屋番号
            = f.text_field :adress_building
            .field
              = f.label :電話番号
              = f.text_field :phone
              .actions
                = f.submit "Sign up"
              = render "devise/shared/links"
