%h4 #{@user.nickname}さんのマイページ

.item_list
    %h1 出品商品
    - Item.where(user_id: current_user.id).each do |item|
    .main__pickup__products__lists
      -@items_c.each do |item|
        .main__pickup__products__lists__li
          = link_to(item_path(item.id),class: 'main__pickup__products__lists__li__a') do
            -if item.images[0]
              = image_tag item.images[0].content.url
            .main__pickup__products__lists__li__a--body
              %h3
                =item.name
              .main__pickup__products__lists__li__a--body__details
                %ul
                  %li
                    =item.price
                    円
                  %li
                    %i.fa.fa-star.likeIcon
                    0
                %p (税込)

%section.newmain__container__group__row__side
  .newmain__container__group__row__side__bar
    %section.newmain__container__group__row__side__bar__inner
      %h2.newmain__container__group__row__side__bar__inner__title マイページメニュー
      .newmain__container__group__row__side__bar__inner__lists
        = link_to('トップページ','/',class: 'newmain__container__group__row__side__bar__inner__lists--a')
        = link_to('商品出品',new_item_path,class: 'newmain__container__group__row__side__bar__inner__lists--a')
        = link_to('クレジットカード登録', new_card_path,class: 'newmain__container__group__row__side__bar__inner__lists--a')
        = link_to('ログアウト', destroy_user_session_path, method: :delete, class: 'newmain__container__group__row__side__bar__inner__lists--a')
