.newmain
  .newmain__container
    .newmain__container__group
      .newmain__container__group__row
        = render 'layouts/sidemenu'
        .newmain__container__group__row__main
          = form_with model: @item do |f|
            = f.hidden_field :user_id, value: current_user.id
            = f.hidden_field :status, value: 1
            .newmain__container__group__row__main__images
              = f.fields_for :images do |i|
                .newmain__container__group__row__main__images__content
                  .newmain__container__group__row__main__images__content__preview
                    = image_tag('dummy.png', alt: 'search-logo.svg',width: '187px',height: '187px',class: '.newmain__container__group__row__main__images__preview--img')
                  .newmain__container__group__row__main__images__content__picker
                    = label("item_image",'',class: 'newmain__container__group__row__main__images__content__picker--btn') do
                      = i.file_field(:content,id:"item_image")
                .newmain__container__group__row__main__images__content
                  .newmain__container__group__row__main__images__content__preview
                    = image_tag('dummy.png', alt: 'search-logo.svg',width: '187px',height: '187px',class: '.newmain__container__group__row__main__images__preview--img')
                  .newmain__container__group__row__main__images__content__picker
                    = label("item_image",'',class: 'newmain__container__group__row__main__images__content__picker--btn') do
                      = i.file_field(:content,id:"item_image")
                .newmain__container__group__row__main__images__content
                  .newmain__container__group__row__main__images__content__preview
                    = image_tag('dummy.png', alt: 'search-logo.svg',width: '187px',height: '187px',class: '.newmain__container__group__row__main__images__preview--img')
                  .newmain__container__group__row__main__images__content__picker
                    = label("item_image",'',class: 'newmain__container__group__row__main__images__content__picker--btn') do
                      = i.file_field(:content,id:"item_image")
                .newmain__container__group__row__main__images__content
                  .newmain__container__group__row__main__images__content__preview
                    = image_tag('dummy.png', alt: 'search-logo.svg',width: '187px',height: '187px',class: '.newmain__container__group__row__main__images__preview--img')
                  .newmain__container__group__row__main__images__content__picker
                    = label("item_image",'',class: 'newmain__container__group__row__main__images__content__picker--btn') do
                      = i.file_field(:content,id:"item_image")
            .newmain__container__group__row__main__forms
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label 商品名
                  %span.newmain__container__group__row__main__forms__wrapper__title--require ※必須
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.text_field(:name, maxlength: 40, placeholder: "40文字まで",id: "item_name")
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label 商品説明
                  %span.newmain__container__group__row__main__forms__wrapper__title--require ※必須
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.text_area(:statement, maxlength: 1000, placeholder: "色素材重さ注意点などを記載しましょう(1000文字まで)\n例、先月淡路大島で釣ってきた魚です。リリース回数は5回です。腐ってはいないので\nまだ食べられると思います",id: "item_statement")
              .newmain__container__group__row__main__forms__separater
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label カテゴリ
                  %span.newmain__container__group__row__main__forms__wrapper__title--require ※必須
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.select(:category_id,@categories,id: "item_category")
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label ブランド
                  %span.newmain__container__group__row__main__forms__wrapper__title--require 
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.select(:brand_id,@brands,id: "item_brand")
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label 商品の状態
                  %span.newmain__container__group__row__main__forms__wrapper__title--require ※必須
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.select(:condition,[1,2,3],id: "item_condition")
              .newmain__container__group__row__main__forms__separater
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label 配送料
                  %span.newmain__container__group__row__main__forms__wrapper__title--require ※必須
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.select(:delivery_fee,[1,2,3],id: "item_delivery_fee")
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label 発送元の地域
                  %span.newmain__container__group__row__main__forms__wrapper__title--require ※必須
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.select(:prefecture_id,@prefectures,id: "item_prefecture",prompt: "選択してください")
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label 配送日の目安
                  %span.newmain__container__group__row__main__forms__wrapper__title--require ※必須
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.select(:lag,[1,2,3],id: "item_lag")
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label 商品価格
                  %span.newmain__container__group__row__main__forms__wrapper__title--require ※必須
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.text_field(:price, maxlength: 40, placeholder: "10000",id: "item_price")
              .newmain__container__group__row__main__forms__separater
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label
                  %span.newmain__container__group__row__main__forms__wrapper__title--require
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.submit("確認する",id:"confirm")
