.newmain
  .newmain__container
    .newmain__container__group
      .newmain__container__group__row
        = render 'layouts/sidemenu'
        .newmain__container__group__row__main
          = form_with do |f|
            .newmain__container__group__row__main__images
              .newmain__container__group__row__main__images__content
                .newmain__container__group__row__main__images__content__preview
                  = image_tag('dummy.png', alt: 'search-logo.svg',width: '187px',height: '187px',class: '.newmain__container__group__row__main__images__preview--img')
                .newmain__container__group__row__main__images__content__picker
                  = label("item_image",'',class: 'newmain__container__group__row__main__images__content__picker--btn') do
                    = f.file_field("items[:image]",id:"item_image")
              .newmain__container__group__row__main__images__content
                .newmain__container__group__row__main__images__content__preview
                  = image_tag('dummy.png', alt: 'search-logo.svg',width: '187px',height: '187px',class: '.newmain__container__group__row__main__images__preview--img')
                .newmain__container__group__row__main__images__content__picker
                  = label("item_image",'',class: 'newmain__container__group__row__main__images__content__picker--btn') do
                    = f.file_field("items[:image]",id:"item_image")
              .newmain__container__group__row__main__images__content
                .newmain__container__group__row__main__images__content__preview
                  = image_tag('dummy.png', alt: 'search-logo.svg',width: '187px',height: '187px',class: '.newmain__container__group__row__main__images__preview--img')
                .newmain__container__group__row__main__images__content__picker
                  = label("item_image",'',class: 'newmain__container__group__row__main__images__content__picker--btn') do
                    = f.file_field("items[:image]",id:"item_image")
              .newmain__container__group__row__main__images__content
                .newmain__container__group__row__main__images__content__preview
                  = image_tag('dummy.png', alt: 'search-logo.svg',width: '187px',height: '187px',class: '.newmain__container__group__row__main__images__preview--img')
                .newmain__container__group__row__main__images__content__picker
                  = label("item_image",'',class: 'newmain__container__group__row__main__images__content__picker--btn') do
                    = f.file_field("items[:image]",id:"item_image")
            .newmain__container__group__row__main__forms
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label 商品名
                  %span.newmain__container__group__row__main__forms__wrapper__title--require ※必須
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.text_field("items[:name]", maxlength: 40, placeholder: "40文字まで",id: "item_name")
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label 商品説明
                  %span.newmain__container__group__row__main__forms__wrapper__title--require ※必須
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.text_area("items[:statement]", maxlength: 1000, placeholder: "色素材重さ注意点などを記載しましょう(1000文字まで)\n例、先月淡路大島で釣ってきた魚です。リリース回数は5回です。腐ってはいないので\nまだ食べられると思います",id: "item_statement")
              .newmain__container__group__row__main__forms__separater
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label カテゴリ
                  %span.newmain__container__group__row__main__forms__wrapper__title--require ※必須
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.select("items[:category]",'',id: "item_category")
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label ブランド
                  %span.newmain__container__group__row__main__forms__wrapper__title--require 
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.select("items[:brand]",'',id: "item_brand")
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label 商品の状態
                  %span.newmain__container__group__row__main__forms__wrapper__title--require ※必須
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.select("items[:condition]",'',id: "item_condition")
              .newmain__container__group__row__main__forms__separater
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label 配送料
                  %span.newmain__container__group__row__main__forms__wrapper__title--require ※必須
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.select("items[:delivery_fee]",'',id: "item_delivery_fee")
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label 発送元の地域
                  %span.newmain__container__group__row__main__forms__wrapper__title--require ※必須
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.select("items[:prefecture]",'',id: "item_prefecture")
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label 配送日の目安
                  %span.newmain__container__group__row__main__forms__wrapper__title--require ※必須
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.select("items[:lag]",'',id: "item_lag")
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label 商品価格
                  %span.newmain__container__group__row__main__forms__wrapper__title--require ※必須
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.select("items[:price]",'',id: "item_price")
              .newmain__container__group__row__main__forms__separater
              .newmain__container__group__row__main__forms__wrapper
                .newmain__container__group__row__main__forms__wrapper__title
                  %label.newmain__container__group__row__main__forms__wrapper__title--label
                  %span.newmain__container__group__row__main__forms__wrapper__title--require
                .newmain__container__group__row__main__forms__wrapper__form
                  = f.button("確認する",id:"confirm")
