.show__main
  .show__main__content
    .show__main__content__wrapper
      .show__main__content__wrapper__itemBox
        %h2.show__main__content__wrapper__itemBox__name 商品名
        .show__main__content__wrapper__itemBox__images
          -# 1番目はここから下
          %ul.show__main__content__wrapper__itemBox__images__ul
            %li.show__main__content__wrapper__itemBox__images__ul__li
              = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", alt: 'item-img',class: 'show__main__content__wrapper__itemBox__images__ul__li--img'
              %ul
                %li
                  = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png', alt: 'item-img1',class: ''
                %li
                  = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png', alt: 'item-img1',class: ''
                %li
                  = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png', alt: 'item-img1',class: ''
        .show__main__content__wrapper__itemBox__price
          %span
            = "#{@price}円"
          .show__main__content__wrapper__itemBox__price__detail
            %span (税込)
            %span 送料込み
        .show__main__content__wrapper__itemBox__description
          商品の説明がここに入る
        -# 2番目はここから下
        .show__main__content__wrapper__itemBox__table
          %table
            %tbody
              %tr
                %th 出品者
                %td 出品者の名前を表示
              %tr
                %th カテゴリー
                %td トップカテゴリーを表示
              %tr
                %th ブランド
                %td ブランドがあれば表示
              %tr
                %th サイズ
                %td サイズがあれば表示
              %tr
                %th 配送料の負担
                %td 配送料の負担？
              %tr
                %th 発送元地域
                %td 発送元地域を表示
              %tr
                %th 発送日の目安
                %td 商品の状態を表示
      .show__main__content__wrapper__links
        %ul.show__main__content__wrapper__links__items
          %li.show__main__content__wrapper__links__items__previous
            = link_to(item_path, {}) do
              %i.fa.fa-angle-left
              %span 前の商品
          %li.show__main__content__wrapper__links__items__next
            = link_to(item_path, {}) do
              %span 次の商品
              %i.fa.fa-angle-right
        .show__main__content__wrapper__links__related
          = link_to("カテゴリーへ飛ぶ",item_path,class: 'show__main__content__wrapper__links__related__category')
          -# カテゴリに関連する画像を三枚表示する
          .show__main__content__wrapper__links__related__lists
            = link_to item_path(8) do
              %figure.show__main__content__wrapper__links__related__lists__frame
                = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG',class: 'show__main__content__wrapper__links__related__lists__frame__image'
              .show__main__content__wrapper__links__related__lists__contents
                %h3.show__main__content__wrapper__links__related__lists__contents__name ee
                .show__main__content__wrapper__links__related__lists__contents__details
                  %ul
                    %li 値段を表示 
                    %li
                      %i.fa.fa-star.likeIcon
                      0
                  %p (税込)
= render 'layouts/aside'
= render 'layouts/purchase'


